.apresentacao_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px 25px 0;
	background-color: var(--header-background);
	color: var(--texto-principal);
}

.apresentacao_doodle {
	width: 400px;
	padding: 20px 0 0 0;
}

.apresentacao_titulo {
	font-weight: 600;
	text-align: center;
}

html[data-theme='dark'] .apresentacao_titulo {
	font-weight: 500;
}

.apresentacao_subtitulo {
	text-align: center;
	padding: 12px;
	line-height: 145%;
}

html[data-theme='dark'] .apresentacao_subtitulo {
	font-weight: 100;
}

.apresentacao_social {
	align-self: flex-end;
}

.apresentacao_social_items,
.icones_contatos_items {
	padding: 10px 0;
}

/* SOBRE */
.underdesign {
	position: relative;
	bottom: 11.7px;
	text-transform: uppercase;
	font-size: 82px;
	font-weight: bold;
	opacity: 1;
	left: -26px;
	color: var(--texto-opaco);
}

.section_main {
	display: flex;
	flex-direction: column;
	padding: 0 25px 40px;
}

.section_sobre {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sobre_perfil {
	width: 250px;
	padding: 0 0 20px 0;
}

.section_main_laranja {
	display: flex;
	flex-direction: column;
	padding: 0 25px 40px;
	background-color: var(--background-destaque);
}

.subtitulo {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	position: relative;
	bottom: 65px;
	color: var(--texto-principal);
}

html[data-theme='dark'] .subtitulo {
	font-weight: 400;
}

.textos {
	color: var(--texto-principal);
	line-height: 145%;
	padding: 10px 0;
	text-align: justify;
	font-size: 1rem;
}

html[data-theme='dark'] .textos {
	font-weight: lighter;
}

.lista_sobre {
	padding: 5px;
}

.btns {
	background-color: var(--botoes);
	font-weight: 600;
	color: var(--botoes-texto);
	padding: 10px 25px;
	border-radius: 20px;
	align-self: center;
	margin: 30px 0 0 0;
}

.voltatopo_btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	background-image: linear-gradient(to bottom right, var(--botao-top-1), var(--botao-top-2));
	cursor: pointer;
	padding: 18px;
	border-radius: 40%;
	scroll-behavior: smooth;
}

/* EXPERIENCIA */

.exp_logos {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

#exp_wet {
	width: 80%;
	max-width: 400px;
}

#exp_master {
	width: 90%;
	max-width: 380px;
}

/* CONTATOS */
.contatos_links {
	color: var(--texto-principal);
	padding: 0 10px;
	position: relative;
	bottom: 5px;
}

/* VARIAVEIS DARK MODE */
html[data-theme='dark'] .icones_social {
	filter: invert(100%) sepia(0%) saturate(411%) hue-rotate(45deg) brightness(400%) contrast(100%);
}

@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
	.underdesign {
		font-size: 74px;
	}
}

@media (min-width: 1023px) {
	/* big landscape tablets, laptops, and desktops */

	.apresentacao_main {
		display: flex;
		align-items: center;
		gap: 50px;
	}

	.apresentacao_container {
		padding: 25px 80px 0;
	}

	.apresentacao_titulo {
		font-size: var(--font-titulo-desk);
	}

	.apresentacao_subtitulo {
		font-size: var(--font-sub-desk);
	}

	.section_sobre {
		display: flex;
		flex-direction: row;
	}

	.section_main {
		padding: 0 80px 40px;
	}

	.section_main_laranja {
		padding: 0 80px 40px;
	}

	#exp_wet {
		width: 50%;
	}
}

@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
	.apresentacao_container {
		padding: 25px 200px 0;
	}

	.section_main {
		padding: 0 200px 40px;
	}

	.section_main_laranja {
		padding: 0 200px 40px;
	}
}

@media (min-width: 1500px) {
	/* hi-res laptops and desktops */
	.apresentacao_container {
		padding: 25px 300px 0;
	}

	.section_main {
		padding: 0 300px 40px;
	}

	.section_main_laranja {
		padding: 0 300px 40px;
	}
}
