.rodape {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	font-weight: bolder;
	background: linear-gradient(to bottom, var(--background-destaque) 0%, var(--background-destaque) 90%, var(--cor-destaque-2) 90%, var(--cor-destaque-2) 100%);
	color: var(--texto-principal);
}
