.skills {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 28px;
}

.skills_logos {
	background-color: var(--skills-background);
	width: 65px;
	padding: 15px;
	border-radius: 20px;
}

#desenvolvendo {
	padding-top: 40px;
}
