@import url(header.css);
@import url(main.css);
@import url(skills.css);
@import url(rodape.css);

:root {
	--fonte-principal: 'Poppins', sans-serif;
	--sombra: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--preto: #000;
	--branco: #fff;
	--azul: #004174;
	--azul-marinho: #00223c;
	--azul-dark: #001525;
	--laranja: #ff7600;
	--laranja-secundario: #ffc795;
	--laranja-botoes: #ffaa60;
	--cinza: #f1f1f1;

	/* Cores especificas dark-mode */

	--font-titulo-desk: 25px;
	--font-sub-desk: 20px;
}

[data-mode='light'] {
	--header-background: var(--branco);
	--background: var(--cinza);
	--background-menu: var(--cinza);
	--background-destaque: var(--laranja-secundario);
	--texto-principal: var(--azul-marinho);
	--texto-secundario: var(--branco);
	--cor-destaque: var(--azul-marinho);
	--cor-destaque-2: var(--laranja);
	--hover: var(--azul-marinho);
	--botoes: var(--laranja);
	--botoes-texto: var(--branco);
	--botao-top-1: var(--azul);
	--botao-top-2: var(--azul-dark);
}

body {
	background-color: var(--background);
	font-family: var(--fonte-principal);
	font-size: 18px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 1023px) {
	/* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
